<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CE.Collections" version="0.3.3.3" targetFramework="net462" />
  <package id="CE.core" version="0.3.0" targetFramework="net462" />
  <package id="Moggle" version="1.0.3" targetFramework="net462" />
  <package id="MonoGame.Extended" version="0.6.568" targetFramework="net461" />
  <package id="MonoGame.Extended.Animations" version="0.6.568" targetFramework="net462" />
  <package id="MonoGame.Extended.Content.Pipeline" version="0.6.568" targetFramework="net462" />
  <package id="MonoGame.Extended.Graphics" version="0.6.568" targetFramework="net462" />
  <package id="MonoGame.Extended.Input" version="0.6.568" targetFramework="net461" />
  <package id="MonoGame.Extended.Particles" version="0.6.568" targetFramework="net462" />
  <package id="MonoGame.Framework.DesktopGL" version="3.6.0.1625" targetFramework="net461" />
  <package id="MonoGame.Framework.Linux" version="3.5.0.1678" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="NVorbis" version="0.8.5.0" targetFramework="net462" />
</packages>